@model IEnumerable<ERMS.Models.TaskItem>

@{
    ViewData["Title"] = "Task Items";
}

<h1>Task Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().TaskID)
            </th>
            <th>
                Project
            </th>
            <th>
                Assigned Employee
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskID)
                </td>
                <td>
                    @(item.Project != null ? item.Project.Name : "No Project")
                </td>
                <td>
                    @(item.AssignedEmployee != null
                        ? item.AssignedEmployee.FirstName + " " + item.AssignedEmployee.LastName
                        : "Unassigned")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TaskID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.TaskID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.TaskID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
